:root{
    --color-black0:#000;
    --color-send:#4cd137;
    --color-footer-font:#282828;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header{
    display: flex;
    align-items: center;
}
header a {
  margin: 0 auto;
  padding: 1.2rem;
  max-width: 100%;
  text-align: center;
  border: .2rem solid #222;
  border-top: none;
  font-size: 1.4rem;
  transition: all .4s;
}

header a:hover,
header a:active {
  background-color: var(--color-send);
  color: var(--color-black0);
  border-top: none;
  box-shadow: 0 0 0.05rem var(--color-send), 0 0 0.25rem var(--color-send),
    0 0 0.5rem var(--color-send), 0 0 1rem var(--color-send);
  cursor: pointer;
}


main ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
main ul li img {
  width: 24vw;
  height: 24vw;
}

footer p {
  width: 100%;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-footer-font);
}
